{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: roomcard.hbs
* Description: contains the information of a room such as title, address, description, etc. 

=================================================================================================}}


<div id="{{post_id}}" class="item card">
  <img
    class="cardImage roomImage max-w-screen-lg mx-auto"
    src="images/uploads/posts/{{thumbnail}}"
    id="{{post_id}}"
    alt="room"
  />
  <div class="cardBody break-words">
    <p class="cardTitle font-bold text-lg">{{title}}</p>
    <p class="cardAddress">{{address}}</p>
    <p class="cardAddress">${{rent}}</p>
    <p class="cardDescription">{{description}}</p>
  </div>
  {{! do not change this or at least keep a similar format. buttons do NOT have href properties. You can't fire a route with only a button if there's no form tag }}
  <button class="postButton"><a href="/post/{{post_id}}">Check Post</a></button>

  {{!-- <button class="postButton" href="/post/{{post_id}}">Check Post</button> --}}
</div>
