{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: about_me.hbs
* Description: contains the information about a specific team member

=================================================================================================}}


<link rel="stylesheet" href="/stylesheets/{{person.first_name}}.css" />

<div class="person_container">
  <h1 id="name">{{person.first_name}} {{person.last_name}}</h1>
  <br />
  <img
    id="photo"
    src="/images/{{person.image}}"
    alt="imageNoWork"
    style="height:200px"
  />
  <br />
  <a id="github" href={{person.github_link}}>
    {{person.github}}
  </a>
  <br />
  <p id="info">
    {{person.information}}
  </p>
</div>