{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project
* Fall 2021
* TEAM 5 MEMBERS
> Edward Yun,
> Jeffrey Fullmer Gradner,
> Adele Wu,
> Jeff Friedrich,
> Kris Byington,
> Jose Quinteros

* File: user-profile.hbs
* Description: this page shows a user's profile page

=================================================================================================}}

<div class="lg:container m-auto lg:flex object-cover">
  <div class="card postcard lg:flex lg:w-2/3 p-4">
    <img class="postUserImage m-auto lg:m-0 object-cover" {{!-- src="images/uploads/posts/{{photopath}}" --}}
      src="../images/Smiley_Face.JPG" id="{{user_id}}" alt="face" />

    <div id="post_info_container" class="p-4">
      {{!-- <label class="post_label">Name: </label> --}}
      <h3 class="name_container">
        <span class="name">{{currentUser.first_name}}</span>
        <span class="name">{{currentUser.last_name}}</span>
      </h3>

      <div class="post_info_category">
        <label class="post_label">Gender: </label>
        <span>{{currentUser.gender}}</span>
      </div>

      <div class="post_info_category">
        <label class="post_label">Birthday: </label>
        <span>{{currentUser.dob}}</span>
      </div>

      <div class="post_info_category">
        <label class="post_label">Field: </label>
        <span>{{currentUser.fields}}</span>
      </div>

      <div class="post_info_category">
        <label class="post_label">School: </label>
        <span>{{currentUser.school}}</span>
      </div>

      {{!-- <div class="post_info_category">
        <label class="post_label">Email: </label>
        <span>{{currentUser.email}}</span>
      </div> --}}

      <div class="post_info_category">
        <label class="post_label">Username: </label>
        <span>{{currentUser.username}}</span>
      </div>

    </div>
  </div>

  <div class="card commentSection w-full lg:w-1/3 p-4">
    <div class="myComment">
      <div class="messageClass">
        <label class="">Send a message to the user:</label>
        <textarea rows="5" id="comment" name="comment" cols="30" class="px-2" placeholder="Send a message"></textarea>
        {{#if logged}}
        <button class="commentButton" type="submit" id="sendMessageButton" value="Message">Send message</button>
        {{else}}
        <button class="commentButton"><a href="/login">Log In To Message</a></button>
        {{/if}} 
      </div>
    </div>

    <div class="othersComments">
      {{#each comments}}
      <div class="comment_container">
        <div>{{this.description}}</div>
        <div class="post_label text-sm">{{this.created}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<input type="text" id="emailValue" hidden disabled value="{{currentUser.email}}">
<input type="text" id="userNameValue" hidden disabled value="{{currentUser.username}}">

<script>
  document.getElementById("sendMessageButton").addEventListener("click", function () {
    usersEmail = document.getElementById("emailValue").value;
    userName = document.getElementById("userNameValue").value;
    usersMessage = document.getElementById("comment").value;
    const myDataObject = { "usersEmail": usersEmail, "userName": userName, message: usersMessage };

    fetch("/users/sendMessage", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }, body: JSON.stringify(myDataObject)
    }).then(function (response) {
      return response.json();
    }).then(function (data) {
      alert(data.response);
    });
  });
</script>